@page "/tarot"
@using Microsoft.AspNetCore.SignalR.Client
@using Cards.Data.Game.TrickGame
@using Cards.Pages.Game
@inherits Cards.ComponentBase.TrickGameBase
@if (!inGame)
{
    <h3>Tarot</h3>
    <PlayerList @ref="playerList" />
    <AuthorizeView>
        <Authorized>
            @if (!IsPlaying)
            {
                <button class="btn btn-primary" @onclick="Play">Play</button>
            } else if (!IsReady)
            {
                <button class="btn btn-primary" @onclick="Ready">Ready</button>
                <button class="btn btn-primary" @onclick="Quit">Quit</button>
            } else
            {
                <button class="btn btn-primary" @onclick="Unready">Unready</button>
                @if (IsHost && hubConnection.InvokeAsync<bool>("IsGameReady", GameName).GetAwaiter().GetResult())
                {
                    <button class="btn btn-primary" @onclick="this.Launch">Launch</button>
                }
                <button class="btn btn-primary" @onclick="Quit">Quit</button>
            }
        </Authorized>
        <NotAuthorized>
            <div class="tooltip">
                <button class="btn btn-primary" disabled>Play</button>
                <span class="tooltip-text requires-authentication"></span>
            </div>
        </NotAuthorized>
    </AuthorizeView>
} else
{
    <Hand @ref="hand" />
}

@code {
    protected override string GameName => "Tarot";

    protected IList<TarotTeam> Teams { get; } = new List<TarotTeam>();
}
