@using Microsoft.AspNetCore.Components.Web
@using Cards.Shared
@using Microsoft.AspNetCore.Mvc.ViewEngines
@namespace Cards.Pages
@inject ICompositeViewEngine Engine
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <link href="Cards.styles.css" rel="stylesheet"/>
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <component type="typeof(NavMenu)" 
                render-mode="ServerPrerendered" />
        </div>

        <main>
            <div class="top-row px-4 auth">
                @{
                    var result = Engine.FindView(ViewContext, "_LoginPartial", 
                        isMainPage: false);
                }
                @if (result.Success)
                {
                    await Html.RenderPartialAsync("_LoginPartial");
                }
                else
                {
                    throw new InvalidOperationException("The default Identity UI " +
                        "layout requires a partial view '_LoginPartial'.");
                }
            </div>

            <article class="content px-4">
                @RenderBody()
            </article>
        </main>
    </div>

    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
